/*----------- CSS RESET -----------*/

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
}

[class*=grid-], [class*=grid_], [class~=grid], [class*=col-], [class*=col_], [class~=col] {
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
}

/*----------- UNIVERSAL STYLES -----------*/

body {
  font-family: 'Raleway', sans-serif;
}

header, section, .body-content {
  padding: 0 0 0 100px;
}

footer {
  padding: 5% 0 5% 100px;
}

header {
  height: 0;
  /* this fixes a bug where there is a small gap in between the slider and the top of the page */
}

/*----------- Hiding Mobile Navigation -----------*/

.mob-nav {
  display: none;
}

.mob-show {
  display: none;
}

/*----------- PADDINGS & POSITIONINGS -----------*/

.padded-10 {
  padding: 10% !important;
}

.padded-8 {
  padding: 8% !important;
}

.padded-5 {
  padding: 5% !important;
}

.padded-2 {
  padding: 2%
}

.padded-top {
  padding-top: 10%;
}

.padded-top-30 {
  padding-top:30%;
}

.padded-left {
  padding-left: 8%!important;
}

.padded-left-20 {
  padding-left: 20%!important;
}

.padded-right {
  padding-right: 8%;
}

.padded-right-0{
  padding-right:0!important;
}

.padded-left-0 {
  padding-left:0!important;
}

.padded-bottom {
  padding-bottom: 10%;
}

.align-center {
  text-align: center;
}

.margin-top {
  margin-top: 10%;
}

.margin-top-5 {
  margin-top: 5%;
}

.margin-bottom {
  margin-bottom: 10%;
}

.bump-right {
  padding-left: 5%;
}

.banner {
  padding-left: 30%;
  min-width: 100vw !important;
  /* max-width: 70%;
  margin-top: 60vh;
  right: 0;
  position: absolute; */
}

.narrow-width {
  width: 60%;
}

.tall {
  min-height: 100vh;
}

/*----------- TYPOGRAPHY -----------*/

h1, h2, h3, h4, a {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  color: #546461;
  line-height: 1.6;
  padding-bottom: 1rem;
}

p, li {
  font-family: 'Raleway', sans-serif;
  color: #546461;
  padding-bottom: 1rem;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
}

h5, h4 {
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  color: #546461;

}

h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  color: #546461;
  text-transform: uppercase;
  font-size: 1rem;
  padding-bottom: 0;
  line-height: 1.5
}

h5 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-transform: none;
  font-size: 0.9rem;
}

#contact a
 {
  color: #DEBD31 !important;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

#contact a:hover {
  color: #fff;
  transition: 0.7s;
}


.p-bold, .p-bold p {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.light {
  font-weight: 300;
}

.bg-teal p, .bg-teal h1, .bg-teal h2, .bg-teal h3 {
  color: #fff;
}

.address-box p, .address-box h2 {
  color: #546461;
}

.link-menu li {
  list-style: none;
  display: inline-block;
  font-size: 1.1em;
  padding-right: 20px;
}

#rooms li {
  padding-right: 100px;
}

.link-menu p {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding-bottom: 0;
}

.link-menu a,
.post_navigation a {
  text-transform: uppercase;
  font-size: 0.9rem;
  text-decoration: none;
}

.link-menu a:hover,
.post_navigation a:hover {
  color: #DEBD31;
  transition: 0.7s;
}

.highlighted {
  color:#DEBD31 !important;
  padding-top: 1em;
  padding-bottom:1em;
}

.highlighted:hover {
  color:#546461 !important;
  transition: 0.7s;
}



/*----------- BACKGROUNDS & IMAGES -----------*/

.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(images/casa-mathilda-banner-1.jpg);
  background-attachment: fixed;
}

.bg-box {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(images/casa-mathilda-banner-1.jpg);
  padding-top: 10%;
  padding-bottom: 10%;
}

.slider-rooms {
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 46%;
  position: relative;
}

.logo {
  width: 200px;
  position: fixed;
  right: 0;
  top: 0;
  padding: 2% 2% 2% 2%;
  z-index: 999;
}

.transbox {
  background-color: rgba(255, 255, 255, 0.6)
}

.bg-beige {
  background-color: #F7F5F0;
  padding-bottom: 10%;
}

.address-box {
  background-color: #F7F5F0;
  margin-bottom: 10% !important;
}

.bg-teal {
  background-color: #879D99;
}

.gallery img {
  padding: 2%;
}

.mfp-counter, .mfp-s-loading { /* counter for zoom-in gallery */
  display:none;
  }


  /*----------- Loader -----------*/



  .loaderArea {
    background-color: #DEBD31;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    z-index: 100000;
    display: inline-block;
  }

  .loader {
    margin-top: 50vh;
    text-align: center;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 25px;
    color: #FFF;
  }

  .lds-ellipsis {
    display: inline-block;
    position: absolute;
    width: 37px;
    height: 37px;
    left: 55%;
    top: 49vh;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }



  /*----------- Who is Mathilda -----------*/


.postal-mathilda {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 60%;
  position: relative;
}

.postal-mathilda p {
  font-family: 'Special Elite', cursive;
}

.postal-mathilda h5 {
  font-family: 'Homemade Apple', cursive;
  padding-bottom:0;
}

.postal-mathilda .show-on-hover {
  background-color: rgba(218, 237, 234, 0.9);
  border: solid 15px #efece4;
  padding: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s;
  -ms-transform: rotate(-5deg); /* IE 9 */
  -webkit-transform: rotate(-5deg) ; /* Safari */
  transform: rotate(-5deg);
}

.postal-mathilda .show-on-hover:hover {
  opacity: 1;
}

.postal-mathilda img {
  width:100%;
}

/*----------- Reserva Completa -----------*/

.box-reserva {
  background-color: #efece4 !important;
  padding-bottom: 0 !important;
  padding: 5% 5% 5% 5% !important;
  margin-bottom: 10% !important;
}

.box-reserva p {
  font-weight: 400 !important;
}

/*----------- Loading Screen -----------*/

#loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 100;
}


/*----------- NAVIGATION -----------*/

.sidebar {
  position: fixed;
  left: 0;
  top: 20vh;
  padding: 7% 2% 7% 2%;
  background-color: #FFF;
  width: 140px;
  z-index: 100;
}

.sidebar li, .mob-nav li {
  list-style: none;
  padding-bottom: 0;
}

.sidebar a, .mob-nav a {
  list-style: none;
  padding-left: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  display: block;
}

.sidebar a:hover, .mob-nav a:hover {
  color: #DEBD31;
  transition: 0.7s;
}

/* Style The Dropdown Button */

.dropbtn {
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
  background-color: transparent;
  color: #546461;
  line-height: 1.6;
  font-size: 0.8rem;
  padding-left: 0.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
}

.dropbtn .down-arrow {
  max-width: 15px;
  margin-left: 10px;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
}

/* Links inside the dropdown */

.dropdown-content a {
  display: block;
  font-size: 0.8rem;
  font-weight: 300;
}

/* Change color of dropdown links on hover */

/* .dropdown-content a:hover {background-color: #f1f1f1} */

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
  /* background-color: #3e8e41; */
}

/*----------- FOOTER -----------*/

.top-arrow img {
  width: 1em;
}

.top-arrow {
  transition: 0.2s ease;
}

.top-arrow:hover {
  transform: scale(1.02, 1.02);
}

footer nav li, footer nav a {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 3%;
}

footer nav a:hover, .copyright a:hover {
  color: #DEBD31;
  transition: 0.7s;
}

.copyright a {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.5;
  text-decoration: none;
}

/*----------- SLIDER STYLE -----------*/

.bg-image-slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/casa-mathilda-banner.jpg);
  background-attachment: fixed;
  min-height: 100vh;
  display: none;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.bg-image-slide .transbox {
  max-width: 70%;
  position: absolute;
  top: 52vh;
  right: 0;
}

.bg-slide-1 {
  background-image: url(/images/casa-mathilda-banner-1.jpg);
}

.bg-slide-2 {
  background-image: url(/images/casa-mathilda-banner-2.jpg);
}

.bg-slide-3 {
  background-image: url(/images/casa-mathilda-banner-3.jpg);
}

.bg-slide-4 {
  background-image: url(/images/casa-mathilda-banner-4.jpg);
}

/*----------- Pop Up Room Details -----------*/

/* this styles the active link for the room navigation */

#rooms-filter a, #portfolio-filter a {
  padding-bottom: 0;
}

#portfolio-filter .active, #rooms-filter .active {
  border-bottom: 2px solid #DEBD31;
  color:#DEBD31;
}

.room-details-popup {
  position: absolute;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  padding: 4%;
  width: auto;
  width: 70%;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  z-index: 101;
}

.room-details-popup:focus {
  outline: none;
  /* this removes the weird blue hover that would otherwise be a default style on focused elements in the popup. */
}

.small-image {
  display: inline-block;
  width: 32%;
}

.room-details-popup li {
  list-style-position: outside;
  padding-bottom: 0.5rem;
}

.close-icon {
  padding: 30px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 76px;
}


.slider-rooms [class*=bg-image-room] {
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.room-left-button, .room-right-button {
  cursor: pointer;
  z-index: 99;
  position: absolute;
  border: none;
  background-color: transparent;
  color: white;
  max-width: 2rem;
}

.room-left-button {
  left: 6%;
  top: 50%;
  transform: rotateZ(180deg);
}

.room-right-button {
  right: 3%;
  top: 50%;
  z-index: 99;
  position: absolute;
  border: none;
  background-color: transparent;
  color: white;
  max-width: 2rem;
}

/*----------- Snap Widget -----------*/


.snapwidget-widget {
  border:none;
  overflow:hidden;
  width:100%;
  height:200px;
}


/*----------- Cookies Consent -----------*/

a.cc-link{
  color: #DEBD31 !important;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

.cc-link a:hover {
  color: #fff;
  transition: 0.7s;
}

.cc-banner .cc-message {
  line-height:0.8em;
  font-size: 0.8em;
}

.cc-link {
    opacity: 1 !important;
    display: inline !important;
    padding: 0 !important;
}

.cc-btn {
  padding: .4em 2.8em !important;
  font-size:0.8eem;
}

.cc-window {
  font-family: 'Raleway', sans-serif !important;
  font-size:0.9em;
}

.cc-window.cc-banner {
  padding: 0.7em 1.8em 0.4em 1.8em;
}

/*----------- Launch Pop Up -----------*/

.launch-popup {
  position: relative;
  background: white;
  color: #fff;
  padding: 10px;
  width: auto;
  max-width: 700px;
  margin: 5% auto;
}

.launch-popup:focus {
  outline: none;
  /* this removes the weird blue hover that would otherwise be a default style on focused elements in the popup. */
}

.launch-popup .bg-image {
  background-attachment: scroll;
}

.launch-popup h2,
.launch-popup p {
  color: #fff;
}

.launch-popup h2 {
  font-size: 1.5rem;
}

.launch-popup p {
  font-size: 1rem;
  padding:10%
}

.launch-popup div {
  text-align: center;
}

.launch-popup .button-1 {
  margin:auto;
}

.mfp-close-btn-in .mfp-close {
  color:#fff !important;
}

/*----------- BUTTONS -----------*/

.button-1, .button-2 {
  cursor: pointer;
  position: relative;
}

.button-1 {
  background-color: #CECBC2;
  /* display: inline-block; */
  /* padding: .8em 2em .8em; */
  line-height: 1em;
  transition: 0.2s ease;
  width: 215px;
  margin: auto;
}

.button-ochre {
  background-color: #DEBD31;
}

.button-insta {
  margin: 0;
}

.button-1 a {
  text-transform: uppercase;
  padding: .8em 2em .8em;
  line-height: 1em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  display: block;
}

.button-1 img, .button-left img, .button-1 .arrow {
  width: 0.9em;
  margin: 0;
  margin-left: 1em;
  display: inline-block;
}

.button-1:hover, .click-discover:hover, .book-button:hover {
  transform: scale(1.02, 1.02);
}

.button-2 {
  /* display: inline-block; */
  margin: 1em auto;
  padding: 0.5em 0em 0.5em;
  border: 1px solid #fff;
  width: 120px;
  transition: 0.2s ease;
}

.button-2 a {
  text-transform: uppercase;
  line-height: 1em;
  font-size: 0.7em;
  color: #fff;
  text-decoration: none;
}

.press .button-2, .news .button-2 {
  border: 1px solid #546461;
}

.press .button-2 a, .news .button-2 a {
  color: #546461;
}

.button-2:hover {
  transform: scale(1.02, 1.02);
}

.slider-rooms .button-1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
}

.book-button {
  width: 120px;
  position: fixed;
  right: 120px;
  top: 18px;
  margin: 2% 6% 5% 2%;
  z-index: 100;
  transition: 0.2s ease;
}

.button-left {
  background-color: #CECBC2;
  line-height: 1em;
  transition: 0.2s ease;
  width: 215px;
}

.button-left a {
  text-transform: uppercase;
  padding: .8em 2em .8em;
  line-height: 1em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  display: block;
}

/*----------- FORM -----------*/

form input, form label, form textarea, form p {
  font-family: 'Raleway', sans-serif;
  font-size: 0.8em;
  color: #546461;
  width: 100%;
  background: none;
  padding: 0.5rem;
  border: 0px;
  margin-bottom: 10px;
}

form label {
  color: #fff;
  margin-bottom: 20px;
  display:none;
}

form input, form textarea {
  background-color: #fff;
}

form input[type="submit"] {
  background-color: #879D99;
  width: 40%;
  font-family: 'Oswald', serif;
  text-transform: uppercase;
  line-height: 1em;
  font-size: 0.7em;
  color: #fff;
  text-decoration: none;
  padding: 0;
}

/* form input[type="submit"]:hover {
  background-color: #fff;
  color: #546461;
} */

form textarea {
  min-height: 20vh;
}

form input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

/*----------- BOOKASSIST -----------*/

#booking_frame {
  padding-right:5%;
}

/*----------- TESTIMONIAL CAROUSEL -----------*/

.testimonial-section {
  margin-top: 20%;
  background-image: url('/images/quote.png');
  background-repeat: no-repeat;
  background-size: contain;
  height:auto;
  display:block;
  min-height:20vh;
}

.testimonial-quote {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 8rem;
+
}

.testimonial-quote,
.testimonial-client,
.testimonial-country, {
  margin:auto;
}

.testimonial-slider {
  height:10vh;
}



/*----------- ELEMENTS -----------*/

hr {
  margin: 0 auto 2em;
  border: 2px solid #fff;
  width: 60px;
}

.address-box hr {
  border: 2px solid #546461;
}

.click-discover img {
  width: 0.9em;
  margin-left: 1em;
}

.click-discover {
  transition: 0.2s ease;
}

.click-discover a {
  text-decoration: none;
  font-size: 1.2em;
}

.star {
  float: left;
  padding-right: 10px;
  width: 1.8rem;
}

/*----------- NEWS PAGE -----------*/

.news .padded {
  padding: 0 15% 0 4%;
}

.news .padded-bottom {
  padding-bottom: 2%;
}

.news .button-2 {
  display: inline-block;
}

.news img {
  border-left: 6px solid #546461;
}

.news .date, .news .month {
  padding: 0 10px;
  text-align: right;
  font-family: 'Oswald', sans-serif;
}

.news .date {
  display: block;
  margin: 0;
  font-size: 2.5em;
  line-height: .9;
}

.news .month {
  font-size: 1.5em;
}

/* --------- BLOG POST STYLING ------------ */

.post-body {
  /* this is the container element that contains each actual blog post */
}

.post-body img {
  margin-bottom: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tag {
  display: inline-block;
  color: #546461;
  border: 0px solid #546461;
  padding: 3px;
  border-radius: 2px;
  margin: 0.5rem 2px;
}

/* Filterable Grid */

.hidden {
  display: none;
}

.post_navigation img {
  max-width:15px;
}


/*----------- MOBILE NAVIGATION / BURGER MENU -----------*/

.burger-button {
  position: fixed;
  top: 2vh;
  left: 2vh;
  z-index: 9999999999;
  padding: 9px;
  /* background:#CECBC2; */
}

/*this is where you can change the color of the buttons*/

.burger-button span {
  width: 25px;
  border: 1.5px solid #DEBD31;
  background-color: #DEBD31;
  display: block;
}

.burger-button.active span {
  border-color: #DEBD31;
  background-color: #DEBD31;
}

.burger-top, .burger-bottom {
  position: absolute;
}

.burger-top {
  top: 2px;
}

.burger-bottom {
  bottom: 2px;
}

/* make sure this has the same top as the burger button has padding*/

.burger-button.active .burger-top {
  position: absolute;
  top: 8px;
  transform: rotateZ(45deg);
}

.burger-button.active .burger-middle {
  border-color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 1);
}

/* make sure this has the same bottom as the burger button has padding*/

.burger-button.active .burger-bottom {
  position: absolute;
  bottom: 8px;
  transform: rotateZ(-45deg);
}

.burger-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #F7F5F0;
  padding: 15px;
  z-index: 99999999;
}

.burger-menu a {
  display: block;
  padding: 5px 15px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1rem;
  color: #546461;
}

.burger-menu a:hover {
  color: #DEBD31;
  transition: 0.7s;
}

.burger-menu li {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
}

.mob-lang ul {
  padding-left: 30%;
}

.mob-lang a {
  font-size: 0.8rem;
  color: #DEBD31;
}

.mob-lang li {
  list-style: none;
  display: inline-block;
  padding: 0;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.mob-lang a:hover {
  color: #546461;
}

/* .goog-te-banner-frame.skiptranslate {
    display: none!important;
} */

/*----------- RESPONSIVE DESIGN - MEDIA QUERIES -----------*/

@media(max-width:1024px) {
  .news .mob-hide {
    display: none;
  }

  .news .padded {
    padding: 0 0 0 4%;
  }

  .bg-image-slide {
    background-attachment: scroll;
  }

  .testimonial-slider {
    padding-left:10%;
    padding-right:10%;
  }

}

@media(max-width:768px) {

  section {
    padding: 7px 0px 0px 100px;
  }

  .slider-rooms {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/room-mathilda.jpg);
    min-height: 40vh;
  }
  .slider-rooms .button-1 {
    top: 20vh;
  }
  footer {
    padding: 5% 0 5% 0px;
  }
  .room-details-popup {
    width: 90%;
    background: rgba(255, 255, 255, 0.95);
  }

  .bg-image-slide .transbox {
    top: 70vh;
  }
  .bg-image-slide .transbox h1 {
    line-height: 1.5;
    font-size: 1.5rem;
  }
  .postal-mathilda .show-on-hover {
    min-height: 22rem;
  }

  .room-left-button {
    left: 9.5%;
  }

  .postal-mathilda {
    max-width:80%;
    margin-left: auto;
    margin-right: auto;
  }

  .blog-box {
    padding:15%;
    right:0;
  }
} /* this closes the media query  */

@media(max-width:576px) {
  .mob-nav {
    display: block !important;
  }
  .mob-show {
    display: block;
  }
  .mob-hide {
    display: none;
  }
  .postal-mathilda .show-on-hover:hover {
    opacity: 0;
    display: none;
  }

  .postal-mathilda-mob-text p {
    font-family: 'Special Elite', cursive;
  }

  .postal-mathilda-mob-text h5 {
    font-family: 'Homemade Apple', cursive;
  }

  section {
    padding: 30px 5% 0 5%;
  }
  .body-content {
    padding: 30px 20px 20px 20px;
  }
  footer {
    padding: 5% 10% 2% 10%;
  }
  .logo {
    position: absolute;
    width: 150px;
    right: 1%;
    top: 1%;
  }
  .blog-box, .address-box {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .banner {
    margin-top: 60vh;
    max-width: 85%
  }
  .slider-rooms {
    min-height: 56vh;
  }
  .slider-rooms .button-1 {
    top: 25vh;
  }
  .link-menu a {
    font-size: 0.8rem;
  }
  .link-menu p {
    font-size: 0.6rem;
  }
  .bg-image-slide .transbox {
    top: 55vh;
  }
  #portfolio-filter li {
    padding-bottom: 0.5rem;
  }
  .testimonial-slider {
    min-height:20vh;
  }
} /* this closes the media query  */

@media(max-width:375px) {
  .book-button {
    width: 90px;
  }
  .banner {
    margin-top: 50vh;
    max-width: 85%
  }
  .slider-rooms {
    min-height: 33vh;
  }
  .slider-rooms .button-1 {
    top: 14vh;
  }
  .banner h1 {
    font-size: 1.7rem;
  }
  .link-menu li {
    padding-bottom: 0;
  }
  .gallery img {
    margin-top: 10px;
  }
  footer {
    padding: 5% 10% 25% 10%;
  }
  .news .padded {
    padding: 0 5% 0 5%;
  }
  .bg-image-slide .transbox {
    max-width: 80%;
  }
  .testimonial-slider {
    min-height:30vh;
  }
} /* this closes the media query  */

@media(max-width:320px) {
  footer {
    padding: 5% 5% 28% 5%;
  }
  footer nav li, footer nav a {
    padding: 2%;
  }
  .banner {
    margin-top: 46vh;
  }
}/* this closes the media query  */
