<!-- - - - - - - - - - - FOOTER - - - - - - - - - -  -->

<!-- - - - - - - - - - - JQuery - - - - - - - - - -  -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- - - - - - - - - - - Magnific Pop Up Lightbox - - - - - - - - - -  -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>


<!-- - - - - - - - - - - Lazy Load - - - - - - - - - -  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.15.2/lazyload.min.js"></script>

<!-- - - - - - - - - - - Cookies Consent - - - - - - - - - -  -->
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>

<!-- - - - - - - - - - - Main Javascript - - - - - - - - - -  -->
<script src="/js/main.js"></script>
