<!-- - - - - - - - - - - FOOTER - - - - - - - - - -  -->


<!-- - - - - - - - - - - JQuery - - - - - - - - - -  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>

<!-- - - - - - - - - - - Magnific Pop Up Lightbox - - - - - - - - - -  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>

<!-- - - - - - - - - - - Cookies Consent - - - - - - - - - -  -->
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>

<!-- - - - - - - - - - - Main Javascript - - - - - - - - - -  -->
<script src="/js/main.js"></script>
