
  <title>Casa Mathilda - Bed & Breakfast in Barcelona</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Gridlex, Google Fonts, Testimonial Slider -->
  <link href="https://fonts.googleapis.com/css?family=Oswald:300,500|Raleway:500,500i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

  <!-- Stylesheet -->
  <link rel="stylesheet" href="/style.css" />

  <!-- Open Graph Data -->
  <meta property="og:url" content="http://casamathilda.com" />
  <meta property="og:title" content="Casa Mathilda" />
  <meta property="og:image" content="xxxxxxxxx" />
  <meta property="og:site_name" content="Casa Mathilda" />
  <meta property="og:description" content="Bed & Breakfast in Barcelona" />

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- Google Analytics -->
  <!-- <script async src=""></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '');
  </script> -->

  <!-- Cookies Consent -->
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  <script>
  	// Default Content
      var customContent = {
          "href": "/privacidad"
      };
      if (document.documentElement.lang.match(/^es.*$/)) {
          customContent = {
              "message": "Utilizamos cookies para asegurar que damos la mejor experiencia al usuario en nuestro sitio web. Si continúa utilizando este sitio asumiremos que está de acuerdo con nuestra",
              "link": "política de privacidad",
              "dismiss": "ESTOY DE ACUERDO",
              "href": "/privacidad"
          }
      }
      if (document.documentElement.lang.match(/^en.*$/)) {
          customContent = {
              "message": "Text in English",
              "link": "privacy policy",
              "dismiss": "ESTOY DE ACUERDO",
              "href": "/privacidad"
          }
      }
      if (document.documentElement.lang.match(/^fr.*$/)) {
          customContent = {
              "message": "text in french",
              "link": "confident",
              "dismiss": "ESTOY DE ACUERDO",
              "href": "/privacidad"
          }
      }
      window.addEventListener("load", function() {
          window.cookieconsent.initialise({
            "palette": {
              "popup": {
                "background": "#546461",
                "text": "#ffffff"
              },
              "button": {
                "background": "#cecbc2",
                "text": "#ffffff"
              }
            },
            "position": "top",
            "content": customContent
            }
          })
      });
  </script>
