<title>
  Casa Mathilda</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Bed & Breakfast in Barcelona">

<!-- - - - - - - - - - - Stylesheet - - - - - - - - - -  -->
<link rel="stylesheet" href="/style.css" />

<!-- - - - - - - - - - - Gridlex - - - - - - - - - -  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

<!-- - - - - - - - - - - Google Fonts - - - - - - - - - -  -->
<link href="https://fonts.googleapis.com/css?family=Oswald:300,500|Raleway:500,500i" rel="stylesheet">

<!-- - - - - - - - - - - Magnific Popup - - - - - - - - - -  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />

<!-- - - - - - - - - - - Open Graph Data - - - - - - - - - -  -->
<meta property="og:url" content="http://casamathilda.com" />
<meta property="og:title" content="Casa Mathilda" />
<meta property="og:image" content="/images/casa-mathilda-banner-1.jpg" />
<meta property="og:site_name" content="Casa Mathilda" />
<meta property="og:description" content="Bed & Breakfast in Barcelona" />

<!-- - - - - - - - - - - Favicons - - - - - - - - - -  -->
<link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/images//apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images//apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images//apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images//apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images//apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images//apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images//apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images//apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="/images//android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images//favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/images//favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images//favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- - - - - - - - - - - Google Analytics - - - - - - - - - -  -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-57053404-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'UA-57053404-1');
</script>
