<!-- - - - - - - sidebar navigation  - - - - - - - - - --->
<div class="sidebar mob-hide">
  <nav>

    {% if page.language == 'en' %}

    <li><a href="/en/#rooms">Rooms</a></li>
    <li><a href="/en/#info">Info</a></li>
    <li><a href="/en/#gallery">Gallery</a></li>
    <li><a href="/en/#contact" class="light">Contact</a></li>
    <li><a href="/en/press" class="light">Press</a></li>
    <li><a href="/news" class="light">News</a></li>

    {% elsif page.language == 'fr' %}

    <li><a href="/fr/#rooms">Chambres</a></li>
    <li><a href="/fr/#info">Info</a></li>
    <li><a href="/fr/#gallery">Galerie</a></li>
    <li><a href="/fr/#contact" class="light">Contact</a></li>
    <li><a href="/fr/press" class="light">Presse</a></li>
    <li><a href="/news" class="light">News</a></li>

    {% else %} <!-- spanish -->

    <li><a href="/#rooms">Habitaciones</a></li>
    <li><a href="/#info">Info</a></li>
    <li><a href="/#gallery">Galería</a></li>
    <li><a href="/#contact" class="light">Contacto</a></li>
    <li><a href="/press" class="light">Prensa</a></li>
    <li><a href="/news" class="light">News</a></li>

    {% endif %}
  </nav>

  <div class="dropdown">

    {% if page.language == 'en' %}

    <button class="dropbtn">
      ENG <img class="down-arrow" src="/images/down-arrow.svg" alt="down arrow">
    </button>
    <div class="dropdown-content">
      <a href="/" data-lang="es">ESP</a>
      <a href="/fr/" data-lang="fr">FR</a>
    </div>

    {% elsif page.language == 'fr' %}

    <button class="dropbtn">
      FR <img class="down-arrow" src="/images/down-arrow.svg" alt="down arrow">
    </button>
    <div class="dropdown-content">
      <a href="/en/" data-lang="en">ENG</a>
      <a href="/" data-lang="es">ESP</a>
    </div>

    {% else %} <!-- spanish -->

    <button class="dropbtn">
      ESP <img class="down-arrow" src="/images/down-arrow.svg" alt="down arrow">
    </button>
    <div class="dropdown-content">
      <a href="/en/" data-lang="en">ENG</a>
      <a href="/fr/" data-lang="fr">FR</a>
    </div>

    {% endif %}

  </div>

</div>

<!- - - - - - - -  MOBILE NAVIGATION  - - - - - - - - -->

<nav class="mob-nav">
  <a href="/index.html"><img src="/images/logo-casa-mathilda.png" alt="casa mathilda logo" class="logo"></a>
  <div class="burger-button">
    <span class="burger-top"></span>
    <span class="burger-middle"></span>
    <span class="burger-bottom"></span>
  </div>
  <div class="burger-menu">
    <ul>

      {% if page.language == 'en' %}

      <li><a href="/en/#rooms">Rooms</a></li>
      <li><a href="/en/#info">Info</a></li>
      <li><a href="/en/#gallery">Gallery</a></li>
      <li><a href="/en/#contact" class="light">Contact</a></li>
      <li><a href="/en/press" class="light">Press</a></li>
      <li><a href="/news" class="light">News</a></li>

      {% elsif page.language == 'fr' %}

      <li><a href="/fr/#rooms">Chambres</a></li>
      <li><a href="/fr/#info">Info</a></li>
      <li><a href="/fr/#gallery">Galerie</a></li>
      <li><a href="/fr/#contact" class="light">Contact</a></li>
      <li><a href="/fr/press" class="light">Presse</a></li>
      <li><a href="/news" class="light">News</a></li>

      {% else %} <!-- spanish -->

      <li><a href="/#rooms">Habitaciones</a></li>
      <li><a href="/#info">Info</a></li>
      <li><a href="/#gallery">Galería</a></li>
      <li><a href="/#contact" class="light">Contacto</a></li>
      <li><a href="/press" class="light">Prensa</a></li>
      <li><a href="/news" class="light">News</a></li>

      {% endif %}
      <ul>

        <div>

          {% if page.language == 'en' %}

  <ul>
  	<li><a class="active" href=“#”>EN</a> | </li>
          <li><a href=“/” data-lang="es">ES</a> | </li>
          <li><a href="/fr/" data-lang="fr">FR</a></li>
  <li>

          {% elsif page.language == 'fr' %}

  <ul>
  	<li><a class="active" href=“#”>FR</a> | </li>
          <li><a href=“/” data-lang="es">ES</a> | </li>
          <li><a href=“/en/“ data-lang=“en”>EN</a></li>
  <li>

          {% else %} <!-- spanish -->

  <ul>
  	<li><a class="active" href=“#”>ES</a> | </li>
          <li><a href=“/en/” data-lang="es">EN</a> | </li>
          <li><a href=“/fr/“ data-lang=“en”>FR</a></li>
  <li>

          {% endif %}

        </div>

  </div>
</nav>
