<!-- - - - - - - - - - - MAGNIFIC POP UP JAVASCRIPT - - - - - - - - - -  -->
<div id="launch-popup" class="launch-popup mfp-hide mob-hide">
  <div class="bg-image padded-8" style="background-image:url({{site.data.pop-up.featured_image}});">
    <h1>{{site.data.pop-up.title}}</h1>
    <h2> {{site.data.pop-up.sub-title}} </h2>
    <p> {{site.data.pop-up.body}}</p>
    <div class="button-1 button-ochre button-insta align-center">
      <a href="#" target="_blank">Reserva Ahora<img src="/images/right-arrow.svg" alt="right arrow"></a>
    </div>
  </div>
</div>
