<!-- - - - - - - - - - - MAGNIFIC POP UP JAVASCRIPT - - - - - - - - - -  -->

{% if layout.popup-turned-on == true %}

<div id="launch-popup" class="launch-popup mfp-hide mob-hide">
  <div class="bg-image padded-10" style="background-image:url({{site.data.pop-up.featured_image}});">
    {% if page.language == 'en' %}
    <h2> {{site.data.pop-up.title-en}} </h2>
    <p> {{site.data.pop-up.body-en}}</p>
    <!-- <div class="button-1 button-ochre align-center">
      <a href="#" target="_blank">Book Now<img src="/images/right-arrow.svg" alt="right arrow"></a>
    </div> -->

    {% elsif page.language == 'fr' %}
    <h2> {{site.data.pop-up.title-fr}} </h2>
    <p> {{site.data.pop-up.body-fr}}</p>
    <!-- <div class="button-1 button-ochre align-center">
      <a href="#" target="_blank">Réserver<img src="/images/right-arrow.svg" alt="right arrow"></a>
    </div> -->

    {% else %}
    <h2> {{site.data.pop-up.title-es}} </h2>
    <p> {{site.data.pop-up.body-es}}</p>
    <!-- <div class="button-1 button-ochre align-center">
      <a href="#" target="_blank">Reserva Ahora<img src="/images/right-arrow.svg" alt="right arrow"></a>
    </div> -->

    {% endif %}

  </div>
</div>

{% endif %}
