
{% for item in site.data.testimonials %}
  <div class="testimonial">
    <p class="testimonial-review"> {{site.data.testimonials.review-en}} </p>
    <h4 class="testimonial-client"> {{site.data.testimonials.name-en}} </h4>
    <h5 class="testimonial-country">{{site.data.testimonials.country-en}}</h5>
  </div>
{% endfor %}



<!-- - - - - - - - - - - ENGLISH - - - - - - - - - -  -->
{% if page.language == 'en' %}
<!-- - - - - - - - - - - Client Testimonials - - - - - - - - - -  -->
  <h2>Words from our guests...</h2>

<!-- - - - - - - - - - - Testimonial Slider - - - - - - - - - -  -->
  <!-- <div class="testimonial-slider">
    <div class="testimonial">
      <p class="testimonial-review"> {{site.data.testimonials.review-1-en}} </p>
      <h4 class="testimonial-client"> {{site.data.testimonials.name-1-en}} </h4>
      <h5 class="testimonial-country">{{site.data.testimonials.country-1-en}}</h5>
    </div>
    <div class="testimonial">
      <p class="testimonial-review"> {{site.data.testimonials.review-2-en}} </p>
      <h4 class="testimonial-client"> {{site.data.testimonials.name-2-en}} </h4>
      <h5 class="testimonial-country">{{site.data.testimonials.country-2-en}}</h5>

    </div>
    <div class="testimonial">
      <p class="testimonial-review"> {{site.data.testimonials.review-3-en}} </p>
      <h4 class="testimonial-client"> {{site.data.testimonials.name-3-en}} </h4>
      <h5 class="testimonial-country">{{site.data.testimonials.country-3-en}}</h5>
    </div>
  </div> -->

  {% for item in site.data.testimonials %}
    <div class="testimonial">
      <p class="testimonial-review"> {{site.data.testimonials.review-en}} </p>
      <h4 class="testimonial-client"> {{site.data.testimonials.name-en}} </h4>
      <h5 class="testimonial-country">{{site.data.testimonials.country-en}}</h5>
    </div>
  {% endfor %}


<!-- - - - - - - - - - - FRENCH - - - - - - - - - -  -->
{% elsif page.language == 'fr' %}
<!-- - - - - - - - - - - Client Testimonials - - - - - - - - - -  -->
  <h2>Mots de nos invités... </h2>

<!-- - - - - - - - - - - Testimonial Slider - - - - - - - - - -  -->
  <!-- <div class="testimonial-slider">
    <div class="testimonial">
      <p class="testimonial-review"> {{site.data.testimonials.review-1-fr}} </p>
      <h4 class="testimonial-client"> {{site.data.testimonials.name-1-fr}} </h4>
      <h5 class="testimonial-country">{{site.data.testimonials.country-1-fr}}</h5>
    </div>
    <div class="testimonial">
      <p class="testimonial-review"> {{site.data.testimonials.review-2-fr}} </p>
      <h4 class="testimonial-client"> {{site.data.testimonials.name-2-fr}} </h4>
      <h5 class="testimonial-country">{{site.data.testimonials.country-2-fr}}</h5>

    </div>
    <div class="testimonial">
      <p class="testimonial-review"> {{site.data.testimonials.review-3-fr}} </p>
      <h4 class="testimonial-client"> {{site.data.testimonials.name-3-fr}} </h4>
      <h5 class="testimonial-country">{{site.data.testimonials.country-3-fr}}</h5>
    </div>
  </div> -->

  {% for item in site.data.testimonials %}
    <div class="testimonial">
      <p class="testimonial-review"> {{site.data.testimonials.review-fr}} </p>
      <h4 class="testimonial-client"> {{site.data.testimonials.name-fr}} </h4>
      <h5 class="testimonial-country">{{site.data.testimonials.country-fr}}</h5>
    </div>
  {% endfor %}


<!-- - - - - - - - - - - ESPAÑOL - - - - - - - - - -  -->
{% else %}
<!-- - - - - - - - - - - Client Testimonials - - - - - - - - - -  -->
  <h2>Lo que nuestros huéspedes dicen... </h2>

<!-- - - - - - - - - - - Testimonial Slider - - - - - - - - - -  -->
  <!-- <div class="testimonial-slider">
    <div class="testimonial">
      <p class="testimonial-review"> {{site.data.testimonials.review-1-es}} </p>
      <h4 class="testimonial-client"> {{site.data.testimonials.name-1-es}} </h4>
      <h5 class="testimonial-country">{{site.data.testimonials.country-1-es}}</h5>
    </div>
    <div class="testimonial">
      <p class="testimonial-review"> {{site.data.testimonials.review-2-es}} </p>
      <h4 class="testimonial-client"> {{site.data.testimonials.name-2-es}} </h4>
      <h5 class="testimonial-country">{{site.data.testimonials.country-2-es}}</h5>

    </div>
    <div class="testimonial">
      <p class="testimonial-review"> {{site.data.testimonials.review-3-es}} </p>
      <h4 class="testimonial-client"> {{site.data.testimonials.name-3-es}} </h4>
      <h5 class="testimonial-country">{{site.data.testimonials.country-3-es}}</h5>
    </div>
  </div> -->


  {% for item in site.data.testimonials %}
    <div class="testimonial">
      <p class="testimonial-review"> {{site.data.testimonials.review-es}} </p>
      <h4 class="testimonial-client"> {{site.data.testimonials.name-es}} </h4>
      <h5 class="testimonial-country">{{site.data.testimonials.country-es}}</h5>
    </div>
  {% endfor %}


{% endif %}
