<!Doctype html>
<html>

<head>
  {% include head.html %}
</head>

<body class="bg-image">

  <header id="top">

<!-- - - - - - - - - - - LOGO - - - - - - - - - -  -->
    {% if page.language == 'en' %}
    <a href="/en/index.html">
      {% elsif page.language == 'fr' %}
      <a href="/fr/index.html">
      {% else %}
      <a href="/index.html">
      {% endif %}

        <img src="/images/logo-casa-mathilda.png" alt="casa mathilda logo" class="logo mob-hide">

      </a>

<!-- - - - - - - - - - - NAVIGATION BAR - - - - - - - - - -  -->
    {% include navigation.html %}

<!-- - - - - - - - - - - BOOK BUTTON - - - - - - - - - -  -->

      {% if page.language == 'en' %}
        <a href="/en/booking"><img src="/images/book-button-eng.png" alt="book button" class="book-button"></a>
      {% elsif page.language == 'fr' %}
        <a href="/fr/booking"><img src="/images/book-button-fr.png" alt="book button" class="book-button"></a>
      {% else %}
        <a href="/booking"><img src="/images/book-button-esp.png" alt="book button" class="book-button"></a>
      {% endif %}

<!-- - - - - - - - - - - BANNER - - - - - - - - - -  -->

  </header>

  {{content}}

<!-- - - - - - - - - - - FOOTER - - - - - - - - - -  -->
  <footer class="align-center bg-beige">
    <div class="top-arrow"><a href="#top"><img src="/images/up-arrow.svg" alt="up arrow"></a></div>

    {% if page.language == 'en'%}

    <nav>
      <ul>
        <li><a href="/en/#contact">Contact</a></li>
        <li><a href="/en/privacidad">Privacy</a></li>
        <li><a href="https://www.facebook.com/casamathilda/" target="_blank" rel="noopener">Facebook</a></li>
        <li><a href="https://www.instagram.com/casamathilda/" target="_blank" rel="noopener">Instagram</a></li>
        <li><a href="/en/booking" class="mob-hide">Book</a></li>
      </ul>
    </nav>

    {% elsif page.language == 'fr'%}

    <nav>
      <ul>
        <li><a href="/fr/#contact">Contact</a></li>
        <li><a href="/fr/privacidad">Confidentialité</a></li>
        <li><a href="https://www.facebook.com/casamathilda/" target="_blank">Facebook</a></li>
        <li><a href="https://www.instagram.com/casamathilda/" target="_blank">Instagram</a></li>
        <li><a href="/fr/booking" class="mob-hide">Réserve</a></li>
      </ul>
    </nav>

    {% else %}

    <nav>
      <ul>
        <li><a href="/#contact">Contacto</a></li>
        <li><a href="/privacidad">Privacidad</a></li>
        <li><a href="https://www.facebook.com/casamathilda/" target="_blank">Facebook</a></li>
        <li><a href="https://www.instagram.com/casamathilda/" target="_blank">Instagram</a></li>
        <li><a href="/booking" class="mob-hide">Reserva</a></li>
      </ul>
    </nav>

    {% endif %}

    <div class="copyright">
      <p>Copyright © 2018 Casa Mathilda | <a href="http://loveiscreative.com" target="_blank" rel="noopener">Site Credits</a></p>
    </div>
  </footer>

<!-- - - - - - - - - - - POP UP - - - - - - - - - -  -->
  <!-- {% include pop-up.html %} -->


<!-- - - - - - - - - - - BODY SCRIPTS - - - - - - - - - -  -->
  {% include body-scripts.html %}

</body>
</html>
