---
layout: default
---
<!-- - - - - - - - - - - HEADER - - - - - - - - - -  -->
<div class="body-content">
  <section class="bg-beige margin-top press">
    <div>
      <div class="padded-top">
        <h1>{{page.heading}}</h1>
        <p class="narrow-width bump-right p-bold">{{page.intro-paragraph}}</p>
      </div>
    </div>

<!-- - - - - - - - - - - BODY - - - - - - - - - -  -->
    <div class="bg-beige grid padded-right">

      {% for press in site.data.press %}

      <div class="col-3_sm-6_xs-12 padded-5">
        <img src="{../img/44721746JJ_15_a.jpg" alt="{{press.title}}" data-src="{{press.featured_image}}">
        <div class="align-center button-2"><a href="{{press.pdf_path}}" target="_blank">
        {% if page.language == 'en' %}
        Read
        {% elsif page.language == 'fr' %}
        Lire
        {% else %}
        Ver
        {% endif %}

      </a></div>
      </div>

      {% endfor %}

    </div>

<!-- - - - - - - - - - - Back Button - - - - - - - - - -  -->
    <div class="button-1 align-center">
      <a href="#" onclick="goBack()">
      {% if page.language == 'en' %}
      Back
      {% elsif page.language == 'fr' %}
      Retourner
      {% else %}
      Atrás
      {% endif %}
    <img src="/images/right-arrow.svg" alt="right arrow">
    </a>
    </div>

  </section>
</div>
