---
layout: default
---

<!-- - - - - - - - - - - HEADER - - - - - - - - - -  -->
<div class="body-content">
  <section class="bg-beige margin-top">
    <div class="padded-top">
      <h1>{{page.heading}}</h1>

<!-- - - - - - - - - - - MAIN - - - - - - - - - -  -->
    <div class="padded-5">
      <p>{{page.privacidad_html}}</p>
    </div>

    <div class="button-1 align-center margin-top">
      {% if page.language == 'es' %}
        <a href="/#contact">Contacto</a>
      {% elsif page.language == 'en' %}
        <a href="en/#contact">Contact</a>
      {% elsif page.language == 'fr' %}
        <a href="en/#contact">Contacter</a>

      {% endif %}
    </div>
  </div>
  </section>
</div>
