---
layout: default
---

<!-- - - - - - - - - - - HEADER - - - - - - - - - -  -->
<div class="body-content">
  <section class="bg-beige margin-top">
    <div class="padded-top">
      <h1>{{page.privacidad-title}}</h1>
    </div>

<!-- - - - - - - - - - - MAIN - - - - - - - - - -  -->
    <div>
      <p>{{item.privacidad_html}}</p>
    </div>
    <div class="align-center button-2">
      {% if page.language == 'es' %}
        <a href="#" onclick="goBack()">Atrás</a>
      {% elsif page.language == 'en' %}
        <a href="#" onclick="goBack()">Back</a>
      {% elsif page.language == 'fr' %}
        <a href="#" onclick="goBack()">Retourner</a>
      {% endif %}
    </div>
  </section>
</div>
